{% extends 'query_page.html' %}

{% block content %}

<h1 class="mt-4">Площадки</h1>
<p><a href="/query-page">Вернуться назад</a></p>

<div class="row">
  <div class="col-3 mt-5">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true">По названию</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">По адресу</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">По вместимости</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">По стоимости аренды</a>

    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Название</th>
              <th scope="col">Адрес</th>
              <th scope="col">Вместимость</th>
              <th scope="col">Стоимость аренды</th>
            </tr>
          </thead>

          <tbody>
            {% for i in id1 %}
            <tr>
              <th>{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.address}}</td>
              <td>{{i.capacity}}</td>
              <td>{{i.cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Название</th>
              <th scope="col">Адрес</th>
              <th scope="col">Вместимость</th>
              <th scope="col">Стоимость аренды</th>
            </tr>
          </thead>

          <tbody>
            {% for i in id2 %}
            <tr>
              <th>{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.address}}</td>
              <td>{{i.capacity}}</td>
              <td>{{i.cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Название</th>
              <th scope="col">Адрес</th>
              <th scope="col">Вместимость</th>
              <th scope="col">Стоимость аренды</th>
            </tr>
          </thead>

          <tbody>
            {% for i in id3 %}
            <tr>
              <th>{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.address}}</td>
              <td>{{i.capacity}}</td>
              <td>{{i.cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Название</th>
              <th scope="col">Адрес</th>
              <th scope="col">Вместимость</th>
              <th scope="col">Стоимость аренды</th>
            </tr>
          </thead>

          <tbody>
            {% for i in id4 %}
            <tr>
              <th>{{i.id}}</th>
              <td>{{i.name}}</td>
              <td>{{i.address}}</td>
              <td>{{i.capacity}}</td>
              <td>{{i.cost}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}